.hero-home{
    height: 500px;
    margin-bottom: 20px;
}
main{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.sep{
    height: 0px;
    border-top: 10px;
    border-bottom: 0px;
    border-color: var(--primary);
    border-style: dotted;
}

@keyframes start {
    from{
        transform: scale(0);
    }

    to{
        transform: scale(1);
    }
}

article, .hero-home{
    animation: start 0.5s ease-out;
    animation-fill-mode: forwards;
}