<div class="textbox">
    <h1>Nome del Prodotto</h1>
    <h3>Dimmi qualche cosina sul prodotto di carino</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam convallis consequat sem, vitae pretium sem. Donec rhoncus lectus orci, ut imperdiet ipsum luctus a. Sed sit amet porta arcu, eu efficitur felis. Phasellus leo lorem, viverra ac nunc sed, porttitor pellentesque augue. Phasellus eget ligula id odio mollis luctus at non risus. Cras dignissim mattis ipsum, nec posuere elit aliquam sed. Integer egestas massa quis viverra vestibulum. Aliquam rutrum ex ante, ut imperdiet velit pretium at. Vivamus eget ipsum convallis, laoreet urna eu, tempus dolor. Donec semper pulvinar sollicitudin. Aliquam et felis eu dolor tempor imperdiet eget in nunc. Nulla in turpis accumsan arcu molestie accumsan ullamcorper sed est. Vestibulum tempus convallis justo sed viverra. Aenean sem erat, vestibulum eu euismod in, sollicitudin vel ex.

Maecenas at lacus elementum neque bibendum aliquet vel id lectus. Praesent pulvinar, elit eget venenatis semper, massa odio tempor sem, ut facilisis eros purus eu nibh. Phasellus hendrerit sem vel lorem venenatis sodales. Duis auctor pellentesque sapien at scelerisque. Suspendisse potenti. Nam ac velit leo. Integer vestibulum odio ac turpis sagittis, in gravida arcu hendrerit. Suspendisse feugiat elit quam, nec sollicitudin lorem tempus a.
    </p>
</div>