.navbar_mobile{
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(50px,1fr));
}

.col{
    grid-column-start: auto;
    grid-column-end: span 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
}