<div class="navbar_mobile">
    <div class="col">
        <object type="image/svg+xml" class="nav-logo" data="assets/logos/home.svg" alt=""></object>
    </div>
    <div class="col">
        <object type="image/svg+xml" class="nav-logo" data="assets/logos/storefront.svg" alt=""></object>
    </div>
    <div class="col">
        <object type="image/svg+xml" class="nav-logo" data="assets/logos/favorite.svg" alt=""></object>
    </div>
    <div class="col">
        <object type="image/svg+xml" class="nav-logo" data="assets/logos/connect.svg" alt=""></object>
    </div>
</div>
