.navbar_mobile{
    position: fixed;
    z-index: 1000;
    bottom: 0px;
    height: 5%;
    display: grid;
    width: 100%;
    gap: 0.3rem;
    background-color: var(--nearPrimary);
    grid-template-columns: repeat(auto-fit,minmax(50px,1fr));
}

object{
    pointer-events: none;
}

.col{
    grid-column-start: auto;
    grid-column-end: span 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}

.col:hover{
    border: 3px solid var(--contrast);
}

.nav-logo{
    height: 100%;
    object-fit: cover;
    color: white;
}

.selected{
    background-color: var(--contrast) !important;
}