<div class="gallery">
    <div class="mainPic">
        <img class="imgBig" [src]="'assets/img/emma_2.jpg'" alt="">
    </div>
    <div class="otherPics">
        <img [src]="'assets/img/emma_3.jpg'" class="pics" alt="">
        <img [src]="'assets/img/emma_3.jpg'" class="pics" alt="">
        <img [src]="'assets/img/emma_3.jpg'" class="pics" alt="">
        <img [src]="'assets/img/emma_3.jpg'" class="pics" alt="">
        <img [src]="'assets/img/emma_3.jpg'" class="pics" alt="">
        <img [src]="'assets/img/emma_3.jpg'" class="pics" alt="">
    </div>
</div>