.gallery{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.mainPic{
    max-height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}
.otherPics{
    text-align: center;
}
.imgBig{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.pics{
    height: 4rem;
}