.row{
    width: 100%;
    height: max-content;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}

.cardBox{
    padding: 1rem;
}

.categoryname{
    text-align: center;
    background-color: var(--primary);
    padding: 10px;
    transform: skew(355deg,355deg);
    box-shadow: 10px 20px var(--nearPrimary);
}
.col{
    grid-column-start: auto;
    grid-column-end: span 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
}
.bar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--contrast);
    border-radius: 30px;
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 20px;
}
.sep{
    height: 0px;
    border-top: 10px;
    border-bottom: 0px;
    border-color: var(--primary);
    border-style: dotted;
}