.row{
    width: 98%;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    margin: 1%;
}

h1{
    padding: 1em;
}
.col{
    grid-column-start: auto;
    grid-column-end: span 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
}

.sep{
    height: 0px;
    border-top: 10px;
    border-bottom: 0px;
    border-color: var(--nearPrimary);
    border-style: dotted;
}