.card{
    padding: 5%;
    padding-bottom: 30px;
    background-color: var(--whitePolaroid);
    border-radius: 10px;
    box-shadow: 10px 20px var(--shadowPolaroid);
}


.card-img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 10%;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 10%;
    object-fit: cover;
}

.card-title{
    display: inline-block;
    margin: 0px;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    font-size: 2rem;
    font-family: 'Syne Mono', monospace;
    background-color: var(--contrast);
    box-shadow: 5px 10px var(--nearContrast);
}
.card-subtitle{
    text-align: center;
    font-size: 1.3rem;
    font-weight: bolder;
    font-style: italic;
}
.card-price{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Syne Mono', monospace;
    transform: skew(355deg,355deg);
    background-color: var(--primary);
    box-shadow: 5px 10px var(--nearPrimary);
}

.waBtn{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-style: italic;
    font-family: 'Syne Mono', monospace;
    padding: 0.1rem;
    border-radius: 5px;
    transform: skew(355deg,355deg);
    box-shadow: 5px 10px var(--nearContrast);
    background-color: var(--contrast);
}

.card-body{
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
}
