.card{
    margin: 1%;
    width: 98%;
    background-color: var(--nearPrimary);
    border-radius: 10%;
}


.card-img{
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 10%;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 10%;
    object-fit: cover;
}

.waBtn{
    display: inline-block;
    background-color: green;
    border: 1px solid black;
}

.card-body{
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40%;
}
