@media screen and (min-width: 992px) {
    .row {
        grid-template-columns: repeat(auto-fit,minmax(200px,24%)) !important;
    }
}
.row{
    min-height: 95vh;
    display: grid;
    justify-content: center;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
}
.hero-product{
    min-height: 50%;
    max-height: 100%;
}