<app-navbar></app-navbar>
<div class="row">
    <div class="hero-product">
        <app-hero></app-hero>
    </div>
    <div class="hero-product">
        <app-hero></app-hero>
    </div>
    <div class="hero-product">
        <app-hero></app-hero>
    </div>
    <div class="hero-product">
        <app-hero></app-hero>
    </div>
    <div class="hero-product">
        <app-hero></app-hero>
    </div>
    <div class="hero-product">
        <app-hero></app-hero>
    </div>
    <div class="hero-product">
        <app-hero></app-hero>
    </div>
    <div class="hero-product">
        <app-hero></app-hero>
    </div>
    <div class="hero-product">
        <app-hero></app-hero>
    </div>
    <div class="hero-product">
        <app-hero></app-hero>
    </div>
    <div class="hero-product">
        <app-hero></app-hero>
    </div>
    <div class="hero-product">
        <app-hero></app-hero>
    </div>
</div>