/* You can add global styles to this file, and also import other style files */
html,body{
    min-height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden !important;
    background-color: var(--nearContrast);
}
:root {
    --contrast: #ffde82;
    --primary: #a0daa9;
    --nearContrast: #dfe089;
    --nearPrimary: #bcdf98;

    --electric-blue: #90f1efff;
    --mimi-pink: #ffd6e0ff;
    --contrast: #ffef9fff;
    --primary: #c1fba4ff;
    --nearPrimary: #7bf1a8ff;

  }