<content class="content">
    <!-- <div class="hero-box">
        <app-hero [data]="content"></app-hero>
    </div> -->
    <div class="row">
        <div class="elem">
            <app-gallery [data]="content.content[0]"></app-gallery>
        </div>
        <article class="elem text">
            <app-textbox [data]="content.content[1]"></app-textbox>
        </article>
    </div>
    <br><br>
    <div class="raccomandation text">
        <app-categorybar [data]="content.content[2]"></app-categorybar>
    </div>
</content>
