.hero-box{
    height: 300px;
}
.content{
    height: 95%;
}
.row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    max-height: 95%;
    gap: 1rem;
}

.elem{
    height: 100%;
}
.text{
    padding-left: 10px;
    padding-right: 10px;
}
.navbarHider{
    width: 100%;
    height: 10%;
}